---
controller_inventory_sources:
{% for inventory_source in current_asset_value %}
  - name: "{{ inventory_source.natural_key.name }}"
    description: "{{ inventory_source.description }}"
    source: "{{ inventory_source.source }}"
{% if inventory_source.source_project %}
    source_project: "{{ inventory_source.source_project.name }}"
{% endif %}
{% if inventory_source.source_path %}
    source_path: "{{ inventory_source.source_path }}"
{% endif %}
    inventory: "{{ inventory_source.natural_key.inventory.name }}"
    update_on_launch: "{{ inventory_source.update_on_launch }}"
    overwrite: "{{ inventory_source.overwrite }}"
{% if inventory_source.credential %}
    credential: "{{ inventory_source.credential }}"
{% endif %}
{% endfor %}
...
