---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
readme: README.md
authors:
- "Andrew Huffman"
- "Jonathan Lozada De La Matta"
description: Ansible Collection for Red Hat insights
repository: {{ collection_repo }}
issues: {{ collection_repo }}/issues
build_ignore:
- galaxy.yml.j2
- release.yml
license:
- "GPLv3"
tags:
- tower
- collection
- genie