---
configure_controller_credential_types:
{% for credential_type in current_asset_value %}
  - name: "{{ credential_type.name }}"
    description: "{{ credential_type.description }}"
    kind: "{{ credential_type.kind }}"
    inputs:
{{ credential_type.inputs | to_yaml | indent(width=6, indentfirst=True) }}
    injectors:
{{ credential_type.injectors | to_yaml | indent(width=6, indentfirst=True) }}
{% endfor %}
...
