---
controller_credential_types:
{% for credential_type in current_credential_types_asset_value %}
  - name: "{{ credential_type.name }}"
    description: "{{ credential_type.description }}"
    kind: "{{ credential_type.kind }}"
    inputs:
{{ credential_type.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
    injectors:
{{ credential_type.injectors | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
{% endfor %}
...
