---
controller_credentials:
{% for credential in current_asset_value %}
  - name: "{{ credential.name }}"
    description: "{{ credential.description }}"
    credential_type: "{{ credential.credential_type.name }}"
    organization: "{{ credential.organization.name | default(omit) }}"
    inputs:
{{ credential.inputs | to_yaml | indent (width=6, first=True) }}
{% endfor %}
...
