---
configure_tower_groups:
{% for inventory in current_groups_asset_value %}
{% for group in inventory.groups %}
  - name: "{{ group.name }}"
    description: "{{ group.description }}"
    inventory: "{{ inventory.name }}"
    hosts:
{{ query('ansible.controller.controller_api', group.hosts_url, host=controller_hostname, oauth_token=oauthtoken, verify_ssl=controller_validate_certs, return_all=true) | json_query('[*].name') | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
{%- endfor -%}
{%- endfor -%}
...
