[
{% if ah_repository_community is defined -%}
{'name' : 'community',
{% if ah_repository_community['wait'] is defined -%}
'wait' : {{ ah_repository_community['wait'] }},
{% endif %}
{% if ah_repository_community['interval'] is defined -%}
'interval' : {{ ah_repository_community['interval'] }},
{% endif %}
{% if ah_repository_community['timeout'] is defined -%}
'timeout' : {{ ah_repository_community['timeout'] }},
{% endif %}
}
{% endif %}
]
