---
# tasks file for license role - Subscription

- name: Get subscriptions with a filter
  subscriptions:
    username: "{{ redhat_subscription_username }}"
    password: "{{ redhat_subscription_password }}"
    filters: "{{ controller_license.filters | default(_redhat_cop_license_filters) }}"
    # Role Standard Options
    controller_username:         "{{ platform_username | default(omit, true) }}"
    controller_password:            "{{ platform_password | default(omit, true) }}"
    controller_oauthtoken:          "{{ platform_token | default(omit, true) }}"
    request_timeout:                "{{ platform_request_timeout | default(omit, true) }}"
    controller_host:                "{{ controller_host | default(omit, true) }}"
    validate_certs:                 "{{ platform_validate_certs | default(omit) }}"
  register: subscription
  when:
    - "'use_lookup' in controller_license"
    - controller_license.use_lookup

- name: Install the Controller license
  license:
    pool_id:                        "{{ controller_license.pool_id | default(subscription.subscriptions[(controller_license.list_num | default(0))].pool_id) }}"
    force:                          "{{ controller_license.force | default(omit) }}"
    state:                          "{{ controller_license.state | default(omit) }}"

    # Role Standard Options
    controller_username:            "{{ platform_username | default(omit, true) }}"
    controller_password:            "{{ platform_password | default(omit, true) }}"
    controller_oauthtoken:          "{{ platform_token | default(omit, true) }}"
    request_timeout:                "{{ platform_request_timeout | default(omit, true) }}"
    controller_host:                "{{ controller_host | default(omit, true) }}"
    validate_certs:                 "{{ platform_validate_certs | default(omit) }}"
  no_log: "{{ controller_configuration_license_secure_logging }}"
  when: controller_license is defined
...
