---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
description: A collection of roles to manage Ansible Controller
readme: README.md
authors:
  - Andrew Huffman
  - Adebisi Oyawale @aoyawale
  - Kedar Kulkarni @kedark3
  - Tom Page @Tompage1994
  - Sean Sullivan @sean-m-sullivan
  - David Danielsson @djdanielsson
repository: {{ collection_repo }}
issues: {{ collection_repo }}issues
build_ignore:
  - galaxy.yml.j2
  - release.yml
  - .github
  - "*.tar.gz"
  - tests/*
license:
  - GPL-3.0-or-later
tags:
  - controller
  - collection
  - controller_configuration
  - automation_platform
  - infrastructure
...
