---
authors:
  - Chris Renwick @crenwick93
  - Tom Page @Tompage1994
  - Sean Sullivan @sean-m-sullivan
  - David Danielsson @djdanielsson
dependencies: {}
description: Ansible content that interacts with the Ansible EDA Controller.
documentation: https://github.com/redhat-cop/eda_configuration/blob/devel/README.md
license:
  - GPL-3.0-only
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
readme: README.md
repository: {{ collection_repo }}
issues: {{ collection_repo }}/issues
tags:
  - cloud
  - infrastructure
  - ansible
  - event
  - driven
  - controller
  - eda
  - automation
build_ignore:
  - tools
  - setup.cfg
  - galaxy.yml.j2
  - template_galaxy.yml
  - '*.tar.gz'
...
