---
controller_credentials:
{% for credential in current_credentials_asset_value %}
  - name: "{{ credential.name }}"
    description: "{{ credential.description }}"
    credential_type: "{{ credential.summary_fields.credential_type.name }}"
{% if credential.organization is defined and credential.organization is not none %}
    organization: "{{ credential.summary_fields.organization.name }}"
{% endif %}
    inputs:
{{ credential.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) | replace("$encrypted$", "\'\'")  }}
{% endfor %}
...
