{% if first_inventory_source | default(true) | bool %}
---
controller_inventory_sources:
{% endif %}
{% for inventory_source in current_inventory_sources_asset_value %}
  - name: "{{ inventory_source.name }}"
    description: "{{ inventory_source.description }}"
{% if inventory_source.summary_fields.organization is defined %}
    organization: "{{ inventory_source.summary_fields.organization.name }}"
{% endif %}
    source: "{{ inventory_source.source | default('ToDo: The source of the inventory_source was originally missing and must be specified',true) }}"
{% if inventory_source.source_project is defined and inventory_source.source_project != None %}
    source_project: "{{ inventory_source.summary_fields.source_project.name }}"
{% endif %}
{% if inventory_source.source_path is defined %}
    source_path: "{{ inventory_source.source_path }}"
{% endif %}
{% if inventory_source.source_vars is defined and inventory_source.source_vars != '---' and inventory_source.source_vars != '' %}
    source_vars:
      {{ inventory_source.source_vars | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
    inventory: "{{ inventory_source.summary_fields.inventory.name }}"
    update_on_launch: "{{ inventory_source.update_on_launch }}"
    overwrite: "{{ inventory_source.overwrite }}"
{% if inventory_source.summary_fields.credential is defined %}
    credential: "{{ inventory_source.summary_fields.credential.name }}"
{% endif %}
{% set query_notification_error = query(controller_api_plugin, inventory_source.related.notification_templates_error,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% set query_notification_started = query(controller_api_plugin, inventory_source.related.notification_templates_started,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% set query_notification_success = query(controller_api_plugin, inventory_source.related.notification_templates_success,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error  in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started  in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success  in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
{% endfor %}
{% if (last_inventory | default(true) | bool) and (last_inventory_source | default(true) | bool) %}
...
{% endif %}
