{% if (current_credential_index | default(0)) == 0 %}
---
controller_credentials:
{% endif %}
  - name: "{{ current_credentials_asset_value.name }}"
    description: "{{ current_credentials_asset_value.description }}"
    credential_type: "{{ current_credentials_asset_value.summary_fields.credential_type.name }}"
{% if current_credentials_asset_value.organization is defined and current_credentials_asset_value.organization is not none %}
    organization: "{{ current_credentials_asset_value.summary_fields.organization.name }}"
{% else %}
    organization: "ORGANIZATIONLESS"
{% endif %}
{% if current_credentials_asset_value.inputs is defined and current_credentials_asset_value.inputs is not match('{}') %}
    inputs:
{% if show_encrypted is defined and show_encrypted %}
{{ current_credentials_asset_value.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
{% else %}
{{ current_credentials_asset_value.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) | replace("$encrypted$", "\'\'") }}
{% endif %}
{% endif %}
{% if last_credential | default(true) | bool %}
...
{% endif %}
