{% if (current_workflow_job_template_index | default(0)) == 0 %}
---
controller_workflows:
{% endif %}
  - name: "{{ current_workflow_job_templates_asset_value.name }}"
    description: "{{ current_workflow_job_templates_asset_value.description }}"
    organization: "{{ current_workflow_job_templates_asset_value.summary_fields.organization.name | default('ToDo: The WF \'' + current_workflow_job_templates_asset_value.name + '\' must belong to an organization') }}"
    state: "present"
    simplified_workflow_nodes:
{% for node in query(controller_api_plugin, 'api/v2/workflow_job_template_nodes/',
                     query_params={'workflow_job_template': current_workflow_job_templates_asset_value.id},
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - identifier: "{{ node.identifier }}"
        workflow_job_template: "{{ node.summary_fields.workflow_job_template.name }}"
        unified_job_template: "{{ node.summary_fields.unified_job_template.name | default('ToDo: The node is pointing to a deleted Job Template') }}"
{% if node.job_type %}
        job_type: "{{ node.job_type }}"
{% endif %}
        organization: "{{ current_workflow_job_templates_asset_value.summary_fields.organization.name | default('ToDo: The WF \'' + current_workflow_job_templates_asset_value.name + '\' must belong to an organization') }}"
        all_parents_must_converge: "{{ node.all_parents_must_converge }}"
{% if node.success_nodes is defined and node.success_nodes | length > 0 %}
        success_nodes:
{% for success in node.success_nodes %}
          - {{ query(controller_api_plugin, 'workflow_job_template_nodes/'+(success | string), host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs)[0].identifier }}
{% endfor %}
{% endif %}
{% if node.always_nodes and node.always_nodes | length > 0 %}
        always_nodes:
{% for always in node.always_nodes %}
          - {{ query(controller_api_plugin, 'workflow_job_template_nodes/'+(always | string), host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs)[0].identifier }}
{% endfor %}
{% endif %}
{% if node.failure_nodes and node.failure_nodes | length > 0 %}
        failure_nodes:
{% for failure in node.failure_nodes %}
          - {{ query(controller_api_plugin, 'workflow_job_template_nodes/'+(failure | string), host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs)[0].identifier }}
{% endfor %}
{% endif %}
{% endfor %}
    ask_variables_on_launch: "{{ current_workflow_job_templates_asset_value.ask_variables_on_launch }}"
    allow_simultaneous: "{{ current_workflow_job_templates_asset_value.allow_simultaneous }}"
    scm_branch: "{{ current_workflow_job_templates_asset_value.scm_branch }}"
    webhook_service: "{{ current_workflow_job_templates_asset_value.webhook_service }}"
{% if current_workflow_job_templates_asset_value.extra_vars and current_workflow_job_templates_asset_value.extra_vars | length > 3 %}
    extra_vars:
      {{ current_workflow_job_templates_asset_value.extra_vars | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
{% if query_labels | length > 0 %}
    labels:
{% for label in query_labels %}
      - "{{ label.name }}"
{% endfor %}
{% endif %}
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error  in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started  in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success  in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
{% if query_notification_approvals | length > 0 %}
    notification_templates_approvals:
{% for notification_approval  in query_notification_approvals %}
      - "{{ notification_approval.name }}"
{% endfor %}
{% endif %}
    survey_enabled: {{ current_workflow_job_templates_asset_value.survey_enabled }}
{% set survey_spec_contents = query(controller_api_plugin, current_workflow_job_templates_asset_value.related.survey_spec,
                                    host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs)[0] |
                                    from_yaml | to_nice_yaml(indent=2,width=500) | regex_replace("\n\n[ ]*", "\\\\n") | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") | replace("^$", "")
-%}
{% if current_workflow_job_templates_asset_value.related.survey_spec is defined and survey_spec_contents | length > 3 %}
    survey_spec:
      {{ survey_spec_contents }}
{% endif %}
{% if last_workflow_job_template | default(true) | bool %}
...
{% endif %}
