{% if (current_organization_index | default(0)) == 0 %}
---
controller_organizations:
{% endif %}
  - name: "{{ current_organization.name }}"
    description: "{{ current_organization.description }}"
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error  in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started  in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success  in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
{% if query_notification_approvals | length > 0 %}
    notification_templates_approvals:
{% for notification_approval  in query_notification_approvals %}
      - "{{ notification_approval.name }}"
{% endfor %}
{% endif %}
{% if last_organization | default(true) | bool %}
...
{% endif %}
