{% if (current_user_index | default(0)) == 0 %}
---
controller_user_accounts:
{% endif %}
- username: "{{ current_users_asset_value.username }}"
  password: "INITIAL"
  email: "{{ current_users_asset_value.email }}"
  first_name: "{{ current_users_asset_value.first_name }}"
  last_name: "{{ current_users_asset_value.last_name }}"
  auditor: "{{ current_users_asset_value.is_system_auditor }}"
  superuser: "{{ current_users_asset_value.is_superuser }}"
  update_secrets: false
{% if last_user | default(true) | bool %}
...
{% endif %}
