{% if first_group | default(true) | bool %}
---
controller_groups:
{% endif %}
{% for group in current_groups_asset_value %}
  - name: "{{ group.name }}"
    description: "{{ group.description }}"
    inventory: "{{ group.summary_fields.inventory.name }}"
{% if group.variables and group.variables != '---' and group.variables != '' %}
    variables:
      {{ group.variables | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
    hosts:
{{ query(controller_api_plugin, group.related.hosts,
         host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
         return_all=true, max_objects=query_controller_api_max_objects
   ) | selectattr("name", "defined") | map(attribute="name") | to_nice_yaml(indent=2) | indent(width=6, first=True)
}}
{%- endfor -%}
...
