---
controller_execution_environments:
{% for ee in current_execution_environments_asset_value %}
{% if organization_filter is not defined or (ee.summary_fields.organization is defined and ee.summary_fields.organization.name is match(organization_filter)) %}
  - name: "{{ ee.name }}"
    description: "{{ ee.description }}"
{% if ee.summary_fields.organization.name is defined %}
    organization: "{{ ee.summary_fields.organization.name }}"
{% endif %}
    image: "{{ ee.image }}"
    pull: "{{ ee.pull }}"
{% if ee.summary_fields.credential is defined %}
    credential: "{{ ee.summary_fields.credential.name }}"
{% endif %}
{% endif %}
{% endfor %}
...
