---
controller_inventory_sources:
{% for inventory_source in current_inventory_sources_asset_value %}
  - name: "{{ inventory_source.name }}"
    description: "{{ inventory_source.description }}"
    source: "{{ inventory_source.source | default('ToDo: The source of the inventory_source was originally missing and must be specified',true) }}"
{% if inventory_source.source_project %}
    source_project: "{{ inventory_source.summary_fields.source_project.name }}"
{% endif %}
{% if inventory_source.source_path %}
    source_path: "{{ inventory_source.source_path }}"
{% endif %}
{% if inventory_source.source_vars %}
    source_vars: "{{ inventory_source.source_vars | replace("'{{", "!unsafe \'{{") }}"
{% endif %}
    inventory: "{{ inventory_source.summary_fields.inventory.name }}"
    update_on_launch: "{{ inventory_source.update_on_launch }}"
    overwrite: "{{ inventory_source.overwrite }}"
{% if inventory_source.credential %}
    credential: "{{ inventory_source.credential }}"
{% endif %}
{% endfor %}
...
