---
controller_inventories:
  - name: "{{ current_inventories_asset_value.name }}"
    description: "{{ current_inventories_asset_value.description }}"
    organization: "{{ inventory_organization }}"
{% if current_inventories_asset_value.host_filter %}
    host_filter: "{{ current_inventories_asset_value.host_filter }}"
{% endif %}
{% if current_inventories_asset_value.kind %}
    kind: "{{ current_inventories_asset_value.kind }}"
{% endif %}
{% if current_inventories_asset_value.variables and current_inventories_asset_value.variables != '---' and current_inventories_asset_value.variables != '' %}
    variables:
      {{ current_inventories_asset_value.variables | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
...
