---
controller_projects:
  - name: "{{ current_projects_asset_value.name }}"
    description: "{{ current_projects_asset_value.description }}"
    organization: "{{ current_projects_asset_value.summary_fields.organization.name | default('ToDo: The project \'' + current_projects_asset_value.name + '\' must have an organization') }}"
{% if current_projects_asset_value.scm_type %}
    scm_type: "{{ current_projects_asset_value.scm_type }}"
    scm_url: "{{ current_projects_asset_value.scm_url }}"
{% if current_projects_asset_value.summary_fields.credential is defined %}
    scm_credential: "{{ current_projects_asset_value.summary_fields.credential.name }}"
{% endif %}
    scm_branch: "{{ current_projects_asset_value.scm_branch }}"
    scm_clean: "{{ current_projects_asset_value.scm_clean }}"
    scm_delete_on_update: "{{ current_projects_asset_value.scm_delete_on_update }}"
    scm_update_on_launch: "{{ current_projects_asset_value.scm_update_on_launch }}"
    scm_update_cache_timeout: "{{ current_projects_asset_value.scm_update_cache_timeout }}"
{% endif %}
    allow_override: "{{ current_projects_asset_value.allow_override }}"
    timeout: {{ current_projects_asset_value.timeout }}
    notification_templates_error:
{% for notification_error  in query(controller_api_plugin, current_projects_asset_value.related.notification_templates_error,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_error.name }}"
{% endfor %}
    notification_templates_started:
{% for notification_started  in query(controller_api_plugin, current_projects_asset_value.related.notification_templates_started,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_started.name }}"
{% endfor %}
    notification_templates_success:
{% for notification_success  in query(controller_api_plugin, current_projects_asset_value.related.notification_templates_success,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_success.name }}"
{% endfor %}
...
