{% if (current_notification_template_index | default(0)) == 0 %}
---
controller_notifications:
{% endif %}
  - name: "{{ current_notification_templates_asset_value.name }}"
    organization: "{{ current_notification_templates_asset_value.summary_fields.organization.name }}"
    notification_type: "{{ current_notification_templates_asset_value.notification_type }}"
    notification_configuration:
{% for key,value in current_notification_templates_asset_value.notification_configuration.items() %}
{% if value is mapping or (value | type_debug == 'list') %}
      {{ key }}: {{ value }}
{% elif (value | type_debug == 'int') %}
      {{ key }}: {{ value | int }}
{% elif (value | lower) is match('true') or (value | lower) is match('false') %}
      {{ key }}: {{ value | bool | lower }}
{% else %}
      {{ key }}: {{ '!unsafe ' if (value | regex_search('{{')) }}"{{ value | replace('\n','\\n') | replace('"', '\\"') }}"
{% endif %}
{% endfor %}
{% if current_notification_templates_asset_value.messages is defined and current_notification_templates_asset_value.messages %}
    messages:
{{ current_notification_templates_asset_value.messages | to_nice_yaml(indent=2) | indent(width=6, first=True) | replace("'{{", "!unsafe \'{{") }}
{% endif %}
{% if last_notification_template | default(true) | bool %}
...
{% endif %}
