---
controller_settings:
  - settings:
{% for key,value in changed_settings[0].items() %}
{% if   key == "AUTH_LDAP_GROUP_TYPE_PARAMS" %}
{{ key | indent(width=6, first=True) }}: {'name_attr': 'cn', 'member_attr': 'member'}
{% elif key == "AUTOMATION_ANALYTICS_LAST_ENTRIES" %}
{{ key | indent(width=6, first=True) }}: {{ value | to_json }}
{% else %}
{{ key | indent(width=6, first=True) }}: {{ value | replace('True', 'true') | replace('False', 'false') | replace('None', 'null') }}
{% endif %}
{% endfor %}
...
