{% if (current_project_index | default(0)) == 0 %}
---
controller_projects:
{% endif %}
  - name: "{{ current_projects_asset_value.name }}"
    description: "{{ current_projects_asset_value.description }}"
    organization: "{{ current_projects_asset_value.summary_fields.organization.name | default('ToDo: The project \'' + current_projects_asset_value.name + '\' must have an organization') }}"
{% if current_projects_asset_value.scm_type %}
    scm_type: "{{ current_projects_asset_value.scm_type }}"
    scm_url: "{{ current_projects_asset_value.scm_url }}"
{% if current_projects_asset_value.summary_fields.credential is defined %}
    scm_credential: "{{ current_projects_asset_value.summary_fields.credential.name }}"
{% endif %}
    scm_branch: "{{ current_projects_asset_value.scm_branch }}"
    scm_clean: "{{ current_projects_asset_value.scm_clean }}"
    scm_delete_on_update: "{{ current_projects_asset_value.scm_delete_on_update }}"
    scm_update_on_launch: "{{ current_projects_asset_value.scm_update_on_launch }}"
    scm_update_cache_timeout: "{{ current_projects_asset_value.scm_update_cache_timeout }}"
{% endif %}
    allow_override: "{{ current_projects_asset_value.allow_override }}"
    timeout: {{ current_projects_asset_value.timeout }}
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error  in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started  in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success  in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
{% if last_project | default(true) | bool %}
...
{% endif %}
