---
controller_templates:
  - name: "{{ current_job_templates_asset_value.name }}"
    description: "{{ current_job_templates_asset_value.description }}"
    organization: "{{ current_job_templates_asset_value.summary_fields.organization.name | default('ToDo: The job template \'' + current_job_templates_asset_value.name + '\' must belong to an organization') }}"
    project: "{{ current_job_templates_asset_value.summary_fields.project.name | default('ToDo: The job template \'' + current_job_templates_asset_value.name + '\' must have a project assigned') }}"
{% if current_job_templates_asset_value.inventory %}
    inventory: "{{ current_job_templates_asset_value.summary_fields.inventory.name }}"
{% endif %}
    playbook: "{{ current_job_templates_asset_value.playbook }}"
    job_type: "{{ current_job_templates_asset_value.job_type }}"
    fact_caching_enabled: "{{ current_job_templates_asset_value.use_fact_cache }}"
{% if current_job_templates_asset_value.summary_fields.credentials %}
    credentials:
{% for credential in current_job_templates_asset_value.summary_fields.credentials %}
      - "{{ credential.name }}"
{% endfor %}
{% endif %}
    concurrent_jobs_enabled: "{{ current_job_templates_asset_value.allow_simultaneous }}"
    ask_scm_branch_on_launch: "{{ current_job_templates_asset_value.ask_scm_branch_on_launch }}"
    ask_tags_on_launch: "{{ current_job_templates_asset_value.ask_tags_on_launch }}"
    ask_verbosity_on_launch: "{{ current_job_templates_asset_value.ask_verbosity_on_launch }}"
    ask_variables_on_launch: "{{ current_job_templates_asset_value.ask_variables_on_launch }}"
{% if current_job_templates_asset_value.extra_vars and current_job_templates_asset_value.extra_vars != '---' and current_job_templates_asset_value.extra_vars != '' %}
    extra_vars:
      {{ current_job_templates_asset_value.extra_vars | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
{% if is_aap %}
    execution_environment: "{{ current_job_templates_asset_value.summary_fields.execution_environment.name | default(omit) }}"
{% endif %}
{% if not is_aap %}
    custom_virtualenv: "{{ current_job_templates_asset_value.custom_virtualenv | default(omit) }}"
{% endif %}
{% if query_labels | length > 0 %}
    labels:
{% for label in query_labels %}
      - "{{ label.name }}"
{% endfor %}
{% endif %}
{% if query_notification_error | length > 0 %}
    notification_templates_error:
{% for notification_error  in query_notification_error %}
      - "{{ notification_error.name }}"
{% endfor %}
{% endif %}
{% if query_notification_started | length > 0 %}
    notification_templates_started:
{% for notification_started  in query_notification_started %}
      - "{{ notification_started.name }}"
{% endfor %}
{% endif %}
{% if query_notification_success | length > 0 %}
    notification_templates_success:
{% for notification_success  in query_notification_success %}
      - "{{ notification_success.name }}"
{% endfor %}
{% endif %}
    survey_enabled: {{ current_job_templates_asset_value.survey_enabled }}
    survey_spec: {{ query(controller_api_plugin, current_job_templates_asset_value.related.survey_spec, host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs)[0] }}
...
