{% if first_user_role | default(true) | bool %}
---
controller_roles:
{% endif %}
{% for role in object_roles %}
{% if (role|dict2items)[0].value.resource_type is defined %}
  - user: "{{ username }}"
{% if (role|dict2items)[0].value.resource_names | length > 0 %}
{% if (role|dict2items)[0].value.resource_type is match('organization') %}
    organizations:
{% elif (role|dict2items)[0].value.resource_type is match('team') %}
    target_teams:
{% elif (role|dict2items)[0].value.resource_type is match('job_template') %}
    job_templates:
{% elif (role|dict2items)[0].value.resource_type is match('inventory') %}
    inventories:
{% elif (role|dict2items)[0].value.resource_type is match('workflow_job_template') %}
    workflow_job_templates:
{% elif (role|dict2items)[0].value.resource_type is match('project') %}
    projects:
{% elif (role|dict2items)[0].value.resource_type is match('credential') %}
    credentials:
{% endif %}
{% for object_name in (role|dict2items)[0].value.resource_names %}
      - "{{ object_name }}"
{% endfor %}
{% endif %}
    role: "{% if (role|dict2items)[0].key | lower == 'approve' %}approval{% else %}{{ (role|dict2items)[0].key | lower | regex_replace(' ', '_') }}{% endif %}"
{% endif %}
{% endfor %}
{% if last_user_role | default(true) | bool %}
...
{% endif %}
