{% if (current_schedule_index | default(0)) == 0 %}
---
controller_schedules:
{% endif %}
  - name: "{{ current_schedules_asset_value.name }}"
{% if current_schedules_asset_value.description is defined %}
    description: "{{ current_schedules_asset_value.description }}"
{% endif %}
    enabled: {{ current_schedules_asset_value.enabled }}
    unified_job_template: "{{ current_schedules_asset_value.summary_fields.unified_job_template.name }}"
{% if current_schedules_asset_value.summary_fields.inventory is defined %}
    inventory: "{{ current_schedules_asset_value.summary_fields.inventory.name }}"
{% endif %}
{% if query_instance_groups | length > 0 %}
    instance_groups:
{% for instance_group in query_instance_groups %}
      - "{{ instance_group.name }}"
{% endfor %}
{% endif %}
{% if current_schedules_asset_value.dtstart is defined %}
    dtstart: "{{ current_schedules_asset_value.dtstart }}"
{% endif %}
{% if current_schedules_asset_value.dtend is defined %}
    dtend: "{{ current_schedules_asset_value.dtend }}"
{% endif %}
{% if current_schedules_asset_value.timezone is defined %}
    timezone: "{{ current_schedules_asset_value.timezone }}"
{% endif %}
{% if current_schedules_asset_value.rrule is defined %}
    rrule: "{{ current_schedules_asset_value.rrule }}"
{% endif %}
{% if current_schedules_asset_value.summary_fields.execution_environment is defined %}
    execution_environment: "{{ current_schedules_asset_value.summary_fields.execution_environment.name }}"
{% endif %}
{% if current_schedules_asset_value.extra_data is defined %}
    extra_data:
      {{ current_schedules_asset_value.extra_data | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif -%}
{% if query_credentials | length > 0 %}
    credentials:
{% for credential in query_credentials %}
      - "{{ credential.name }}"
{% endfor %}
{% endif %}
{% if current_schedules_asset_value.scm_branch is defined %}
    scm_branch: "{{ current_schedules_asset_value.scm_branch }}"
{% endif %}
{% if current_schedules_asset_value.forks is defined %}
    forks: {{ current_schedules_asset_value.forks | int }}
{% endif %}
{% if current_schedules_asset_value.job_slice_count is defined %}
    job_slice_count: {{ current_schedules_asset_value.job_slice_count | int }}
{% endif %}
{% if query_labels | length > 0 %}
    labels:
{% for label in query_labels %}
      - "{{ label.name }}"
{% endfor %}
{% endif %}
{% if current_schedules_asset_value.timeout is defined %}
    timeout: {{ current_schedules_asset_value.timeout | int }}
{% endif %}
{% if current_schedules_asset_value.job_type is defined %}
    job_type: "{{ current_schedules_asset_value.job_type }}"
{% endif %}
{% if current_schedules_asset_value.job_tags is defined %}
    job_tags: "{{ current_schedules_asset_value.job_tags }}"
{% endif %}
{% if current_schedules_asset_value.skip_tags is defined %}
    skip_tags: "{{ current_schedules_asset_value.skip_tags }}"
{% endif %}
{% if current_schedules_asset_value.limit is defined %}
    limit: "{{ current_schedules_asset_value.limit }}"
{% endif %}
{% if current_schedules_asset_value.diff_mode is defined and current_schedules_asset_value.diff_mode | type_debug != "NoneType" %}
    diff_mode: {{ current_schedules_asset_value.diff_mode | bool | lower }}
{% endif %}
{% if current_schedules_asset_value.verbosity is defined %}
    verbosity: {{ current_schedules_asset_value.verbosity | int }}
{% endif %}
{% if last_schedule | default(true) | bool %}
...
{% endif %}
