---
controller_credentials:
  - name: "{{ current_credentials_asset_value.name }}"
    description: "{{ current_credentials_asset_value.description }}"
    credential_type: "{{ current_credentials_asset_value.summary_fields.credential_type.name }}"
{% if current_credentials_asset_value.organization is defined and current_credentials_asset_value.organization is not none %}
    organization: "{{ current_credentials_asset_value.summary_fields.organization.name }}"
{% else %}
    organization: "ORGANIZATIONLESS"
{% endif %}
    inputs:
{{ current_credentials_asset_value.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) | replace("$encrypted$", "\'\'") }}
...
