---
controller_execution_environments:
{% for ee in current_execution_environments_asset_value %}
  - name: "{{ ee.name }}"
    description: "{{ ee.description }}"
    image: "{{ ee.image }}"
    pull: "{{ ee.pull }}"
{% if ee.summary_fields.credential is defined %}
    credential: "{{ ee.summary_fields.credential.name }}"
{% endif %}
{% endfor %}
...
