{% if (first_inventory | default(true) | bool) and (current_inventory_index | default(0) == 0) %}
---
controller_inventories:
{% endif %}
  - name: "{{ current_inventories_asset_value.name }}"
    description: "{{ current_inventories_asset_value.description }}"
    organization: "{{ inventory_organization }}"
{% if current_inventories_asset_value.host_filter is defined %}
    host_filter: "{{ current_inventories_asset_value.host_filter }}"
{% endif %}
{% if current_inventories_asset_value.kind %}
    kind: "{{ current_inventories_asset_value.kind }}"
{% endif %}
{% if current_inventories_asset_value.prevent_instance_group_fallback is defined %}
    prevent_instance_group_fallback: {{ current_inventories_asset_value.prevent_instance_group_fallback }}
{% endif %}
{% if current_inventories_asset_value.source_vars is defined %}
    source_vars:
      {{ current_inventories_asset_value.source_vars | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{% endif %}
{% if current_inventories_asset_value.update_cache_timeout is defined %}
    update_cache_timeout: {{ current_inventories_asset_value.update_cache_timeout }}
{% endif %}
{% if current_inventories_asset_value.limit is defined %}
    limit: "{{ current_inventories_asset_value.limit }}"
{% endif %}
{% if current_inventories_asset_value.verbosity is defined %}
    verbosity: {{ current_inventories_asset_value.verbosity }}
{% endif %}
{% if current_inventories_asset_value.variables is defined and current_inventories_asset_value.variables != '---' and current_inventories_asset_value.variables != '' %}
    variables:
      {{ current_inventories_asset_value.variables | from_yaml | to_nice_yaml(indent=2) | indent(width=6, first=False) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
{% if last_inventory | default(true) | bool %}
...
{% endif %}
