{% if (current_team_index | default(0)) == 0 %}
---
controller_teams:
{% endif %}
  - name: "{{ current_teams_asset_value.name }}"
    description: "{{ current_teams_asset_value.description }}"
    organization: "{{ current_teams_asset_value.summary_fields.organization.name }}"
{% if last_team | default(true) | bool %}
...
{% endif %}
