--
controller_workflows:
  - name: "{{ current_workflow_job_templates_asset_value.name }}"
    description: "{{ current_workflow_job_templates_asset_value.description }}"
    organization: "{{ current_workflow_job_templates_asset_value.summary_fields.organization.name | default('ToDo: The WF \'' + current_workflow_job_templates_asset_value.name + '\' must belong to an organization') }}"
    survey_enabled: "{{ current_workflow_job_templates_asset_value.survey_enabled }}"
    ask_variables_on_launch: "{{ current_workflow_job_templates_asset_value.ask_variables_on_launch }}"
    allow_simultaneous: "{{ current_workflow_job_templates_asset_value.allow_simultaneous }}"
    scm_branch: "{{ current_workflow_job_templates_asset_value.scm_branch }}"
    webhook_service: "{{ current_workflow_job_templates_asset_value.webhook_service }}"
...
