---
controller_organizations:
  - name: "{{ current_organization.name }}"
    description: "{{ current_organization.description }}"
    notification_templates_error:
{% for notification_error  in query(controller_api_plugin, current_organization.related.notification_templates_error,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_error.name }}"
{% endfor %}
    notification_templates_started:
{% for notification_started  in query(controller_api_plugin, current_organization.related.notification_templates_started,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_started.name }}"
{% endfor %}
    notification_templates_success:
{% for notification_success  in query(controller_api_plugin, current_organization.related.notification_templates_success,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_success.name }}"
{% endfor %}
    notification_templates_approvals:
{% for notification_approvals  in query(controller_api_plugin, current_organization.related.notification_templates_approvals,
                     host=controller_hostname, oauth_token=controller_oauthtoken, verify_ssl=controller_validate_certs,
                     return_all=true, max_objects=query_controller_api_max_objects) %}
      - "{{ notification_approvals.name }}"
{% endfor %}
...
