---
controller_credential_types:
{% for credential_type in current_credential_types_asset_value %}
  - name: "{{ credential_type.name }}"
    description: "{{ credential_type.description }}"
    kind: "{{ credential_type.kind }}"
    inputs:
{{ credential_type.inputs | to_nice_yaml(indent=2) | indent(width=6, first=True) }}
{% if credential_type.injectors and credential_type.injectors != '---' %}
    injectors:
{# https://docs.ansible.com/ansible/latest/user_guide/playbooks_advanced_syntax.html#unsafe-or-raw-strings #}
{{ credential_type.injectors | to_nice_yaml(indent=2) | indent(width=6, first=True) | replace("'{{", "!unsafe \'{{") }}
{%- endif %}
{% endfor %}
...
