{% if (current_label_index | default(0)) == 0 %}
---
controller_labels:
{% endif %}
  - name: "{{ current_labels_asset_value.name }}"
    organization: "{{ current_labels_asset_value.summary_fields.organization.name | default('ToDo: The label \'' + current_labels_asset_value.name + '\' must have an organization') }}"
{% if last_label | default(true) | bool %}
...
{% endif %}
