---
controller_settings:
  - settings:
{% for key,value in changed_settings[0].items() %}
{% if value is mapping or value | type_debug == "list" %}
{{ key | indent(width=6, first=True) }}:
{{ value | to_nice_yaml(indent=2) | indent(width=8, first=True) }}
{%- else %}
{{ key | indent(width=6, first=True) }}: "{{ value | replace('True', 'true') | replace('False', 'false') | replace('None', 'null') }}"
{% endif %}
{% endfor %}
...
