---
- name: Add Projects
  tower_project:
    name:                           "{{ tower_projects_item.name | mandatory }}"
    description:                    "{{ tower_projects_item.description | default(omit, true) }}"
    scm_type:                       "{{ tower_projects_item.scm_type | default('manual') }}"
    scm_url:                        "{{ tower_projects_item.scm_url | default(omit, true) }}"
    default_environment:            "{{ tower_projects_item.default_environment | default(omit, true) }}"
    execution_environment:          "{{ tower_projects_item.execution_environment | default(omit, true) }}"
    local_path:                     "{{ tower_projects_item.local_path | default(omit, true) }}"
    scm_branch:                     "{{ tower_projects_item.scm_branch | default(omit, true)  }}"
    scm_refspec:                    "{{ tower_projects_item.scm_refspec | default(omit, true) }}"
    scm_credential:                 "{{ tower_projects_item.scm_credential | default(tower_projects_item.credential.name | default(omit, true)) }}"
    scm_clean:                      "{{ tower_projects_item.scm_clean | default('false') }}"
    scm_delete_on_update:           "{{ tower_projects_item.scm_delete_on_update | default('false') }}"
    scm_update_on_launch:           "{{ tower_projects_item.scm_update_on_launch | default('false') }}"
    scm_update_cache_timeout:       "{{ tower_projects_item.scm_update_cache_timeout | default(omit, true) }}"
    allow_override:                 "{{ tower_projects_item.allow_override | default('false') }}"
    job_timeout:                    "{{ tower_projects_item.job_timeout | default(tower_projects_item.timeout | default(omit, true)) }}"
    custom_virtualenv:              "{{ tower_projects_item.custom_virtualenv | default(omit, true) }}"
    organization:                   "{{ tower_projects_item.organization.name | default( tower_projects_item.organization ) }}"
    state:                          "{{ tower_projects_item.state | default(tower_state | default('present')) }}"
    wait:                           "{{ tower_projects_item.wait | default('false') }}"
    # To be added in awx.awx 17.0.2
    # update_project:                 "{{ tower_projects_item.local_path | default('false') }}"
    # interval:                       "{{ tower_projects_item.local_path | default(1) }}"
    notification_templates_started: "{{ tower_projects_item.notification_templates_started | default(tower_projects_item.related.notification_templates_started | default([]) | map(attribute='name') | list ) }}"
    notification_templates_success: "{{ tower_projects_item.notification_templates_success | default(tower_projects_item.related.notification_templates_success | default([]) | map(attribute='name') | list ) }}"
    notification_templates_error:   "{{ tower_projects_item.notification_templates_error | default(tower_projects_item.related.notification_templates_error | default([]) | map(attribute='name') | list ) }}"
    tower_username:                 "{{ tower_username | default(omit, true) }}"
    tower_password:                 "{{ tower_password | default(omit, true) }}"
    tower_oauthtoken:               "{{ tower_oauthtoken | default(omit, true) }}"
    tower_host:                     "{{ tower_hostname }}"
    tower_config_file:              "{{ tower_config_file | default(omit, true) }}"
    validate_certs:                 "{{ tower_validate_certs | default('true') }}"
  loop: "{{ tower_projects }}"
  loop_control:
    loop_var: tower_projects_item
  no_log: "{{ tower_configuration_projects_secure_logging }}"
...
