{% for section in ansible_config_list %}
[{{ section.header }}]
{% for key_set in section.keypairs %}
{{ key_set.key }}={{ key_set.value }}
{% endfor %}
{% endfor %}

{% for server in automation_hub_list %}
[galaxy_server.{{ server.name }}]
{% if server.url is defined %}
url={{ server.url }}api/{{ ah_path_prefix }}/
{% endif %}
{% if server.token is defined %}
token={{ server.token }}
{% endif %}
{% if ah_token.token is defined %}
token={{ ah_token.token }}
{% endif %}
{% endfor %}
