---
# This workflow action will run pre-commit, which will execute ansible and yaml linting
# See .pre-commit-config.yaml for what hooks are executed
name: pre-commit tests


on:
  pull_request:
  push:
  schedule:
    - cron: "0 6 * * *"

jobs:
  pre-commit:
    uses: "redhat-cop/ansible_collections_tooling/.github/workflows/pre-commit.yml@main"
  sanity:
    uses: "redhat-cop/ansible_collections_tooling/.github/workflows/sanity.yml@main"
    with:
      collection_namespace: infra
      collection_name: ah_configuration
      collection_version: 1.0.0
      collection_repo: https://github.com/redhat-cop/ah_configuration/
  all_green:
    if: ${{ always() }}
    needs:
      - pre-commit
      - sanity
    runs-on: ubuntu-latest
    steps:
      - run: >-
          python -c "assert set([
          '${{ needs.pre-commit.result }}',
          '${{ needs.sanity.result }}',
          ]) == {'success'}"
...
